.tabs{
	position: relative;
	height: 510px;
	margin-bottom: 24px;
	input[type="radio"]{
    	display: none;
	}
	ul{
		display: flex;
    	justify-content: center;
		margin: 0 0 16px;
		padding: 0;
		list-style-type: none;
	}
	li > div, input[type="radio"] {
    	position: absolute;
	}

	input[type="radio"]:checked + label {
    position: relative;
	}
	
	.tabs__tabs-info{
		display: none;
	}

	input[type="radio"]:checked ~ div{
		display: block;
		left: 0;
	}
}