div.contacts
	h1 Contact us
	h2 For a broader coverage related to this topic.
	form(action="#")
		input(type="text" placeholder="name")
		input(type="text" placeholder="email")
		input(type="text" placeholder="message")
		input(type="text" placeholder="message")
		input(type="submit" value="Send Message") 
