div.ecologists
	h1 what our ecologists are saying
	h2 For a broader coverage related to this topic
	div.ecologists-container
		div.ecologists-container__block
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			img(src="img/girl.jpg")
			p Ann Klot
			p Ecologist
		div.ecologists-container__block
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			img(src="img/boy1.jpg")
			p John Lino
			p Ecologist
		div.ecologists-container__block
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			img(src="img/boy2.jpg")
			p Tom Ruft
			p Ecologist
