div.envrionment
	h1 Why forest is importent
	h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	div.environment__icons-container
		div.environment__icons-container__block
			img(src="img/rabbit.png")
			h3 Animals home
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		div.environment__icons-container__block
			img(src="img/rad.png")
			h3 Radioactivity filter
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		div.environment__icons-container__block
			img(src="img/tree.png")
			h3 A source of oxygen
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.