footer
	ul.social
		li
			a(href="#") facebook
		li
			a(href="#") twitter
		li
			a(href="#") google
		li
			a(href="#") pinterest
		li
			a(href="#") instagram
		li
			a(href="#") s
		li
			a(href="#") rss
	p 2015 Company work