header
	span.logo
	+menu(3)
	-var menu=["Home","About us","Contacts"]
	ul.menu
		each item in menu
			li
				a(href=item.toLowerCase().replace("\ ", "-")+".html")=item
	div.header-content
		div.header-content__description
			h1 Wood
			h2 The forest is a large area with trees or other woody vegetation
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		div.header-content__form
			form(action="#")
				input(type="text" placeholder="name")
				input(type="text" placeholder="email")
				input(type="text" placeholder="message")
				input(type="submit" value="Send Message")
			

	