doctype html
html
	head
		link(rel="stylesheet" href="css/style.min.css")
	body
		div.error
			div.error__left-part
				h1 404
			div.error__right-part
				h2 Sorry!
				p The page you looking for was not found
				a(href="#") Go back