extends Layouts/_layout.pug
block head
	+head-meta(
		'WOOD-About-us',
		'utf-8',
		'css/style.min.css'
	)
block prepend header
	-var currentpage = "About us";
block description
	include Includes/_description
block description1
	include Includes/_description