extends Layouts/_layout.pug
block head
	+head-meta(
		'WOOD-home',
		'utf-8',
		'css/style.min.css'
	)

block prepend header
	-var currentpage = "index"
	-var home ="Home"

block tabs
	div.tabs
		ul
			li
				input(type="radio" name="tab" checked="checked" id="tab_1")
				label(for="tab_1").tabs__label Tab 1
				div.tabs__tabs-info
					h2 The forest is a first-person open
					img(src="img/city.jpg")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias magni eius repudiandae
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					a(href="#").tabs__tabs-info__btn Download
			li
				input(type="radio" name="tab" id="tab_2")
				label(for="tab_2").tabs__label Tab 2
				div.tabs__tabs-info
					h2 The forest is a first-person open
					img(src="img/city.jpg")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ipsa, quis nesciunt. Vitae, eveniet. Molestiae sint reiciendis
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					a(href="#").tabs__tabs-info__btn Download
			li
				input(type="radio" name="tab" id="tab_3")
				label(for="tab_3").tabs__label Tab 3
				div.tabs__tabs-info
					h2 The forest is a first-person open
					img(src="img/city.jpg")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					a(href="#").tabs__tabs-info__btn Download
block structure
	div.structure
		img(src="img/lake.jpg" alt="lake")
		h2 Structure type
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		ul
			li
				h2 Understory
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			li
				h2 Canopy
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
block evolution
	div.evolution
		img(src="img/lake2.jpg")
		h2 Long forest evolution
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
block prices
	div.prices
		h1 Pricing options
		h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		div.prices__prices-container
			div.prices__prices-container__block
				h3 Basic
				h4 $
					span 0 
				p Free for life
				ul
					li Canopy
					li Clearcutting
					li Close to nature
					li Forestry
					li Cloud Forest
					li Chase
			div.prices__prices-container__block
				h3 Professional
				h4 $
					span 19
				p Monthly payment
				ul
					li Canopy
					li Clearcutting
					li Close to nature
					li Forestry
					li Cloud Forest
					li Chase
			div.prices__prices-container__block
				h3 Enterprice
				h4 $
					span 70
				p Monthly payment
				ul
					li Canopy
					li Clearcutting
					li Close to nature
					li Forestry
					li Cloud Forest
					li Chase