extends Layouts/_layout.pug
block head
	+head-meta(
		'WOOD-home',
		'utf-8',
		'css/style.min.css'
	)

block prepend header
	-var currentpage = "index"
	-var home ="Home"

block tabs
	+tabs(3)
block structure
	div.structure
		img(src="img/lake.jpg" alt="lake")
		h2 Structure type
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		ul
			li
				h2 Understory
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			li
				h2 Canopy
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
block evolution
	div.evolution
		img(src="img/lake2.jpg")
		h2 Long forest evolution
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
block prices
	div.prices
		h1 Pricing options
		h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		div.prices__prices-container
			div.prices__prices-container__block
				h3 Basic
				h4 $
					span 0 
				p Free for life
				ul
					li Canopy
					li Clearcutting
					li Close to nature
					li Forestry
					li Cloud Forest
					li Chase
			div.prices__prices-container__block
				h3 Professional
				h4 $
					span 19
				p Monthly payment
				ul
					li Canopy
					li Clearcutting
					li Close to nature
					li Forestry
					li Cloud Forest
					li Chase
			div.prices__prices-container__block
				h3 Enterprice
				h4 $
					span 70
				p Monthly payment
				ul
					li Canopy
					li Clearcutting
					li Close to nature
					li Forestry
					li Cloud Forest
					li Chase