@charset "UTF-8";

*{
	box-sizing: border-box;
}

body{
	min-width: 320px;
	font-family: Helvetica;
	margin: 0 auto;
}

// Variables;
@import "components/variables";

//Components;
@import "components/header";
@import "components/sprite";

